<!-- cart with products -->

<div class="container">
  <div class="row">
    <div class="col">
      <!-- table -->
      <table class="table table-striped text-center mt-4">
        <thead>
          <th>No.</th>
          <th>Product</th>
          <th>Image</th>
          <th>Quantity</th>
          <th>Price</th>
          <th>Action</th>
        </thead>

        <tbody *ngFor="let item of cartItems; let i = index">
          <td>{{i + 1}}</td>
          <td>{{item.title}}</td>
          <td class="">
            <img [src]="item.image" width="100px" alt="">
          </td>
          <td class="d-flex justify-content-center">
            <div class="d-flex">
              <button class="btn" (click)="incrementCartProduct(item.id)">+</button>
              <input type="number" class="form-control" readonly [value]="item.quantity" name="" id="">
              <button class="btn" (click)="decrementCartProduct(item.id)">-</button>
            </div>
          </td>
          <td>{{item.price}}</td>
          <td>
            <button class="btn" (click)="deleteCartProduct(item.id)">
              <i class="fa fa-solid fa-trash text-danger" ></i>
            </button>
          </td>
        </tbody>
      </table>
    </div>



    <div class="row">
      <div class="col border p-5 shadow">
      <!-- summary -->
      <h6>Product Bill</h6>
      <h6>Price: {{cartTotalPrice}}</h6>
      <h6>Discount: 0%</h6>

      <h5>Grand Total: {{cartTotalPrice}}</h5>

      <div class="text-center">
        <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Check Out</button>
      </div>
      <!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h1 class="modal-title fs-5" id="staticBackdropLabel">Enter Delivery Details</h1>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      <form action="" [formGroup]="addressForm" (ngSubmit)="submitForm()">
        <!-- name -->
        <div class="form-floating mb-3">
          <input required type="text" name="name" formControlName="name" class="form-control" placeholder="Name">
          <label for="">Name</label>
        </div>
        <!-- House number -->
        <div class="form-floating mb-3">
          <input required type="text"  name="houseNumber" formControlName="houseNumber"  class="form-control" placeholder="House Number">
        <label for="">House Number</label>
        </div>
        <!-- street name -->
        <div class="form-floating mb-3">
          <input required type="text"  name="streetName" formControlName="streetName"  class="form-control" placeholder="Street Name">
          <label for="">Street Name</label>
        </div>
        <!-- state -->
        <div class="form-floating mb-3">
          <input required type="text"  name="state" formControlName="state"  class="form-control" placeholder="State">
          <label for="">State</label>
        </div>
        <!-- pincode -->
        <div class="form-floating mb-3">
          <input required type="text"  name="pinNumber" formControlName="pinNumber"  class="form-control" placeholder="Pincode">
          <label for="">Pincode</label>
        </div>
        <!-- mobiel number -->
        <div class="form-floating mb-3">
          <input required type="text"  name="mobileNumber" formControlName="mobileNumber"  class="form-control" placeholder="Mobile Number">
          <label for="">Mobile Number</label>
        </div>


        <div>
          <h2>Total Price : {{cartTotalPrice}}</h2>
        </div>
        <!-- make payment button -->
        <div class="text-center m-3">
          <!-- <button class="btn btn-success">Proceed to Payment</button> -->
        </div>
      
      <form *ngIf="!proceedToPaymentStatus" [formGroup]="addressForm" ></form>
      
    <!-- offers -->
    <div *ngIf="!discountStatus">
      <h5 class="btn" (click)="offerClicked()">Offers <i class="fa-solid fa-tag fa-beat text-danger"></i></h5>
    </div>
   <!-- Discount -->

   <div *ngIf="offerClick && !discountStatus">
    <!-- 10%off -->
    <img width="100px" (click)="discountCalculate(10)" *ngIf="cartTotalPrice<=100" src="https://www.pngmart.com/files/21/10-Off-PNG-HD.png" alt="">
    <!-- 30% -->
    <img width="100px" (click)="discountCalculate(30)" *ngIf="cartTotalPrice>=100 && cartTotalPrice<=500" src="https://www.pngmart.com/files/21/30-Off-PNG-File.png" alt="">
    <!-- 50% -->
    <img width="100px" (click)="discountCalculate(50)" *ngIf="cartTotalPrice>=500 && cartTotalPrice<=1000" src="https://www.pngmart.com/files/21/50-Off-PNG-Image.png" alt="">
   </div>
   <div class="text-center m-3">
    <button class="btn btn-success"> Make Payment</button>
  </div>
    </form>
      

      <!-- after the form has been submitted -->
      <h6>Your delivery details</h6>
      <p>{{name}}</p>
      <p>{{houseNumber}}</p>
      <p>{{streetName}}</p>
      <p>{{state}}</p>
      <p>{{pincode}}</p>
      <p>{{mobileNumber}}</p>
       
<div class="text-center m-3">
  <button (click)="makePay()" class="btn btn-success">Proceed to payment</button>

</div>
     <div *ngIf="showpaypalButton">
      <ngx-paypal [config]="payPalConfig"></ngx-paypal>
     </div>
    </div>

    
  </div>
</div>
</div>
      </div>
    </div>
  </div>
</div>



<!-- empty Cart -->

<div class="container text-center" *ngIf="cartItems.length == 0">
  <img src="https://i.pinimg.com/originals/2e/ac/fa/2eacfa305d7715bdcd86bb4956209038.png" alt="">
  <div class="text-center">
    <button class="btn btn-dark mb-3">Shop More</button>
  </div>
</div>