<div class="container">
  <div class="row">
    <div class="col-2"></div>
    <div class="col-8 d-flex justify-content-center" style="flex-direction: column;"><img src="https://cdn.dribbble.com/users/724182/screenshots/8587099/media/ef86c4bf895b58c47d1b353eabecad01.gif" alt="" class="" style="height: 27.7rem;">
    
      <button routerLink="/" style="position: absolute; left: 42%; top: 56%;" class="btn btn-info col-2">Go Back To Earth</button>
    </div>
    <div class="col-2"></div>
  </div>
</div>